<footer id="footer">
	<div class="container footer-wrap">
		<div class="pull-right desc">
			<p>
				Ver.{{.AppVer}} - <span title="{{i18n .Lang "page_render_time"}}">{{.PageStartTime|loadtimes}}ms.</span>
			</p>
			<p>
				<strong>{{i18n .Lang "language_choice"}}: </strong>
				<div class="btn-group dropup">
					<button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown">{{i18n .Lang .Lang}} <i class="caret"></i></button>
					<ul class="dropdown-menu">
						{{range .Langs}}
						<li><a href="javascript::" data-lang="{{.}}" class="lang-changed">{{i18n $.Lang .}}</a></li>
						{{end}}
					</ul>
				</div>
			</p>
		</div>
		<p>{{i18n .Lang "app_copyright"}}, {{i18n .Lang "website_created_by"}}<span id="createdByName"> {{i18n .Lang "app_meta_author_firstname"}} {{i18n .Lang "app_meta_author_surname"}}</span></p>
		<p>
			{{i18n .Lang "slogan"}}</address>
		</p>
		<p>
			<a id="acknowledgementsLink" href="/acknowledgements">{{i18n .Lang "acknowledgements"}}</a>
		</p>
	</div>
	<input type="hidden" name="_once" value="{{.once_token}}" style="display:none;" />
</footer>

<!-- { {compress_js "lib"} }
{ {compress_js "app"} } -->