<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<meta name="author" content="{{i18n .Lang "app_meta_author_surname"}}, {{i18n .Lang "app_meta_author_firstname"}}" />

<!-- {  {template "meta" .}  } -->

<meta name="_xsrf" content="{{.xsrf_token}}" />

<!--<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9; IE9">-->

<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->

<!--<meta name="viewport" content="width=500, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="viewport" content="width=device-width, user-scalable=false;">-->
<!--<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=false;">-->
<!--<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">-->
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


<link rel="shortcut icon" href="{{.AppUrl}}static/img/favicon.png" />
{{compress_css "lib"}}
{{print "<!--[if IE 7]>"|str2html}}
{{compress_css "ie7"}}
{{print "<![endif]-->"|str2html}}
{{compress_css "app"}}

<!-- What about here -->
<!-- <base href="[@ URL::to($baseRelativeUrl) @]/" /> -->

<!-- <script>
	var CSRF_TOKEN = '[@ csrf_token() @]';
</script> -->

<!--[if lte IE 8]>
  <script>
    document.createElement('ng-include');
    document.createElement('ng-pluralize');
    document.createElement('ng-view');

    // Optionally these for CSS
    document.createElement('ng:include');
    document.createElement('ng:pluralize');
    document.createElement('ng:view');
  </script>
<![endif]-->