<div class="container">
    <div class="navbar navbar-static-top">
      <div class="navbar-inner navbar-fixed-top">
        <div class="container">
            <a class="brand" href="/{{if .IsLogin}}home{{end}}">{{i18n .Lang "app_brand"}}</a>
            <ul class="nav">
                <!-- <li {{if .IsHome}}class="active"{{end}}><a href="{{.AppUrl}}home">{{i18n .Lang "home"}}</a></li> -->
            </ul>
            <ul class="nav pull-right">
                {{if .IsLogin}}
                {{template "base/dropdown_account.html" .}}
                {{else}}
                {{template "base/dropdown_login.html" .}}
                <li {{if .IsRegister}}class="active"{{end}}><a href="{{.AppUrl}}register">{{i18n .Lang "auth.register"}}</a></li>
                {{end}}
            </ul>
        </div>
    </div>
</div>
</div>
